<!--
//File Name   : comp2068_midterm_tylercadeau\views\index.ejs
//Author Name : Tyler Cadeau
//Student Num : 200246900
//Website	  : https://comp2068midtermtylercadeau.herokuapp.com/
//Description : This view containes my landing page which also brings in 3 partial pages (header/navbar/footer) and contains a nice picture
of a nobel prize a short blurb of what a nobel is
-->

<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
<main class ="container">
    <!--Splash Jumbo-->
            <div class="container">
                <div class="jumbotron">
                <h2 style="text-decoration: underline;">
                    My Favourite Recent Nobel Winners
                </h2>
                <div class="row">
                        <a href="http://www.nobelprize.org/">
                            <img src="Assets/nobel.png" alt="Nobel" width="300" height="200" border="0">
                        </a>
                        <h2>
                            Nobel Prize
                        </h2>
                        <p>
                            The Nobel Prize (Swedish pronunciation: [nʊˈbɛl], Swedish definite form, singular: Nobelpriset; Norwegian: Nobelprisen) is a set of annual international awards bestowed in a number of categories by Swedish and Norwegian committees in recognition of academic, cultural and/or scientific advances.
                        </p>
                </div>
                </div>
            </div>
    <!-- People Chart -->
</main>

<% include partials/footer.ejs %>