<!--
//File Name   : comp2068_midterm_tylercadeau\views\people.ejs
//Author Name : Tyler Cadeau
//Student Num : 200246900
//Website	  : https://comp2068midtermtylercadeau.herokuapp.com/
//Description : This view containes my people page which also brings in 3 partial pages (header/navbar/footer) and contains a jumbotron
with 3 nobel prize winners, a short bio, and a link which is made out of a picture of eacher winner to their bio on wiki
-->

<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
<main class ="container">
    <h1<%= title %></h1>
    
    <!--People CHart-->
            <div class="container">
                <h2 style="text-decoration: underline;">
                     <!--Title-->
                    Recent Nobel Winners
                </h2>
                <div class="row">
                     <!--First Person-->
                    <div class="card-group col-md-4">
                        <a href="https://en.wikipedia.org/wiki/Arthur_B._McDonald">
                            <img src="Assets/person1.jpg" alt="" width="200" height="200" border="0">
                        </a>
                        <h2>
                            Arthur B. McDonald
                        </h2>
                        <p>
                            Arthur Bruce McDonald (born August 29, 1943) is a Canadian astrophysicist. McDonald is the director of the Sudbury Neutrino Observatory Institute and holds the Gordon and Patricia Gray Chair in Particle Astrophysics at Queen's University in Kingston, Ontario. He was awarded the 2015 Nobel Prize in Physics jointly with Japanese physicist Takaaki Kajita.
                        </p>
                    </div>
                     <!--Second Person-->
                    <div class="card-group col-md-4">
                        <a href="https://en.wikipedia.org/wiki/Takaaki_Kajita">
                            <img src="Assets/person2.jpg" alt="" width="200" height="200" border="0">
                        </a>
                        <h2>
                            Takaaki Kajita
                        </h2>
                        <p>
                            Takaaki Kajita (born 9 March 1959) is a Japanese physicist, known for neutrino experiments at the Kamiokande and its successor, Super-Kamiokande. In 2015, he was awarded the Nobel Prize in Physics jointly with Canadian physicist Arthur B. McDonald.
                        </p>
                    </div>
                     <!-- Third Person-->
                    <div class="card-group col-md-4">
                        <a href="https://en.wikipedia.org/wiki/Paul_L._Modrich">
                            <img src="Assets/person3.jpg" alt="" width="200" height="200" border="0">
                        </a>
                        <h2>
                            Paul L. Modrich
                        </h2>
                        <p>
                            Paul Lawrence Modrich (born June 13, 1946) is an American biochemist, James B. Duke Professor of Biochemistry at Duke University and Investigator at the Howard Hughes Medical Institute. He received a Ph.D. degree in 1973 from Stanford University and an B.S. degree in 1968 from MIT. He is known for his research on DNA mismatch repair.
                        </p>
                    </div>
                </div>
            </div>
    <!-- People Chart -->
    
</main>

<% include partials/footer.ejs %>